#
# before running playbook, do
# $> source <hxarc_sample.env>
#
# comment vars to use the default
# default values are good for vagrant!
#

export EC2_INI_PATH='/home/dummy/ec2_py.ini'
export HXARC_ADMIN_USER='admin_user'
export HXARC_ADMIN_PASSWORD='admin_password'
export HXARC_ADMIN_EMAIL='admin@somesite.com'
export HXARC_SECRET='amor e ter com quem nos mata lealdada'

# specify hxarc revision or omit for head of master
export HXARC_GIT_REVISION='git_tag_sha_or_branch'

# omit for default: /Volumes/magic_numbers/certs/hxarc
export LOCAL_CERTS_DIR='/local/path/to/hxarc_certs'

# always define gunicorn_host=locahost for ec2 instances!
# default is 0.0.0.0 for vagrant
export HXARC_GUNICORN_HOST='localhost'

# omit if devo dns is the same as prod
# prod dns is defined in vars/common_vars.yml:org_dns_domain
export HX_DEVO_DNS='devo_org_dns_domain.tld'
