#!/bin/bash -e

SCRIPT_VENV={{ subproc_venv_dir }}
SCRIPT_FULLPATH={{ subproc_script_path }}
SCRIPT_DIR=$(dirname ${SCRIPT_FULLPATH})
SCRIPT_FILENAME=$(basename ${SCRIPT_FULLPATH})

input_file=${1}
input_dir=$(dirname ${1})
input_id=$(basename ${input_dir})  # assumes input file is has a unique parent dir

echo "***** untar/ungzip input file ${input_file}"
# untar uploaded file
tar xzf ${input_file} -C ${input_dir}

echo
echo "***** about to process input file ${input_file}"

# run xml scripts
cd ${SCRIPT_DIR}
${SCRIPT_VENV}/bin/python ${SCRIPT_FILENAME} ${input_dir}/course

echo "***** done processing"
echo

result_dir=/tmp/${input_id}/result
mkdir -p ${result_dir}

echo "***** copying output files to ${result_dir}"
echo

# move result to known location
cp ${input_dir}/course/*.tsv ${result_dir}
cp ${input_dir}/*.zip ${result_dir}

echo "***** generating tar.gz"
echo

cd /tmp/${input_id}
tar cvzf ${input_dir}/result.tar.gz result

echo "***** all done"

